* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#logo {
  width: 200px;
  height: 200px;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

/* .main-nav__list a {
  text-decoration: none;
} */

.en-linea {
  display: inline;
}